<div class="card">

  <h1 i18n="main header|Friendly welcoming message@@welcomeMsg">
    Hello Sri Lanka!
  </h1>

  <p>
    <a i18n i18n-href i18n-title href="/en-US/portfolio" title="My portfolio" style="color: black;"
      >Portfolio</a
    >
  </p>

  <p i18n>
    {tasksCount, plural, zero {no tasks} one {{{tasksCount}} task} few
    {{{tasksCount}} tasks} many {{{tasksCount}} tasks} other
    {{{tasksCount}} tasks}}
  </p>

  <p>{{ today | date:'fullDate' }}</p>

  <p>
    <span i18n>Gender: {genderCode, select, 0 {Male}, 1{Female}, other {Unknown}}</span>
  </p>

  <p>
    <button (click)="male()" style="margin: 6px;">Male</button>
    <button (click)="male()" style="margin: 6px;">Female</button>
    <button (click)="male()" style="margin: 6px;">Other</button>
  </p>

  <ng-container i18n>Copyrights 2020</ng-container>

</div>

